:root {
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 800px; /* Adjusted max-width for a smaller form */
}

body {
    background-color: var(--primary-color-light);
    background-image: url('login.jpg'); /* Replace 'your-image.jpg' with the path to your image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-light);
    font-family: Arial, sans-serif;
    margin: 0;
}
.container {
    max-width: var(--max-width);
    margin: 50px auto;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    color: var(--secondary-color);
}

form {
    display: grid;
    gap: 15px; /* Increased gap for better spacing */
}

.form-box {
    display: grid;
    gap: 5px;
}

label {
    font-weight: bold;
}

input,
select,
textarea {
    width: calc(100% - 20px); /* Adjusted width to account for padding */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color-extra-light);
    border-radius: 5px;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 15px; /* Adjust the margin as needed for spacing */
}


button {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--secondary-color-dark);
}


