:root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --secondary-color: #f9ac54;
  --secondary-color-dark: #d79447;
  --text-light: #d1d5db;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url('class.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-wrap {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); /* Adjust the alpha value for background opacity */
  border-radius: 5px;
}

.tab {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  color: var(--text-light);
}

.login-form {
  position: relative;
}

.input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  background-color: var(--primary-color-light);
  color: var(--text-light);
}

.button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color-dark);
}

.group {
  margin-bottom: 15px;
}

.hr {
  height: 2px;
  margin: 15px 0;
  background-color: var(--primary-color);
}

.foot-lnk {
  text-align: center;
}

/* Additional Styling for the forgot password link */
.foot-lnk a {
  color: var(--secondary-color);
}

.foot-lnk a:hover {
  color: var(--secondary-color-dark);
}
